
<div class="row" id="cont">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Adicionar
                </div>
                <div class="card-body">
                    <form name="formPost" method="post">
                        <div id="inp">
                            <input type="text" class="form-control" placeholder="{{post.name}}" ng-model="post.name" ng-required>
                            <input type="text" class="form-control" placeholder="{{post.cpf}}" ng-model="post.cpf" ng-required>
    
                            <button type="button" class="btn btn-info" ng-click="updatePost(post)" ng-disabled="formPost.$invalid">Confirmar</button>
                        </div>
    
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>